<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quest">
	
	<!-- 퀘스트 랜덤으로 가져오기 -->
	
	<select id="findRnd3Quest" resultType="quest">
		SELECT P.*, IFNULL(JOIN_CNT, 0) AS JOIN_CNT FROM QUESTS P LEFT JOIN JOIN_CNT L ON P.ID = L.ID 
		UNION SELECT P.*, JOIN_CNT FROM QUESTS P RIGHT JOIN JOIN_CNT L ON P.ID = L.ID 
		WHERE END_DATE > NOW() ORDER BY RAND() LIMIT 3
	</select>
	
	<select id="findById" resultType="quest" parameterType="Integer">
		SELECT * FROM QUESTS WHERE ID=#{id}
	</select>
	
	<select id="findByIdAndUserId" resultType="quest" parameterType="hashmap">
		SELECT * FROM QUEST_JOIN WHERE ID=#{id} AND USER_ID=#{userId}
	</select>
	
	<insert id="joinQuest" parameterType="QuestJoin">
		INSERT INTO QUEST_JOIN VALUES(#{id}, #{userId})
	</insert>
	
	<delete id="deleteJoinQuest" parameterType="QuestJoin">
		DELETE FROM QUEST_JOIN WHERE ID=#{id} AND USER_ID=#{userId}
	</delete>
</mapper>